@use "../util" as *;

$page-width: 1170px;

@mixin pagewidth {
  max-width: $page-width;
  padding-left: 25px;
  padding-right: 25px;

  @include responsiveMin(tablet) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include responsiveMin(laptop) {
    padding-left: 75px;
    padding-right: 75px;
  }

  @include responsiveMin(desktop) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @include responsiveMin(big) {
    margin-right: auto;
    margin-left: auto;
  }
}

@mixin fullwidth {
  width: 100vw;

  margin-left: -25px;

  @include responsiveMin(tablet) {
    margin-left: -50px;
  }

  @include responsiveMin(laptop) {
    margin-left: -75px;
  }

  @include responsiveMin(desktop) {
    margin-left: -100px;
  }

  @include responsiveMin(big) {
    margin-left: calc((-100vw + $page-width) / 2);
  }
}
